{% extends 'cuba/base.html' %}


{% block content %}

<div>
    <div id="main" class="content">
     <img src="/static/cuba/IMG_7035.JPG">
        <div class="intro">
        このサイトは2018年にキューバへ旅行に行った体験を元に作成したテスト用のサイトです。
        <br>写真は林が撮影したものを使っています。
        <br>(トップ画面のMusicに使われている写真はネットに上がっているものを使いました。またキューバを紹介したvimeo動画もリンクしました。）
        トップ画面の情報はWikipediaなどの情報を抜粋しています。
        <br>ブログにはコメントフォームを作成し、各ブログ内の下部に表示されるようになっています。
        </div>



     <div class="container">
        <b>開発環境</b>
         <br>
         <table border="1">
             <tr>
                 　　<td>PC</td><td>MacBook Pro</td>
             </tr>
             <tr>
             <td>IDE</td><td>PyCharm</td>
             </tr>
             <tr>
             <td>言語</td><td>Python 3.7</td>
             </tr>
             <tr>
             <td>フレームワーク</td><td>Django 2.1</td>
             <tr>
             <td>学習資料</td>
             <td>
                 プログラミング学習サイトPyQ
               <br>Udemy(Python/Django)
                 <br>Codecademy
               <br>書籍『入門 Python3』
                 <br>書籍『現場で使えるDjangoの教科書 基礎編』
                 <br>書籍『HTML&Css,Javascriptのきほんのきほん』
                 <br>書籍『プロになるためのWeb技術入門』





             </td>
             </tr>





            </table>
     </div>
        </div>
    </div>

{% endblock %}